@section Styles {
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login-index.css" asp-append-version="true" />
}

<div class="login-container">
    <h2>Đăng nhập</h2>
    <p>Chào mừng! Vui lòng nhập thông tin chi tiết của bạn.</p>

    <form>
        <div class="input-group">
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Email">
        </div>

        <div class="input-group">
            <label for="password">Mật khẩu</label>
            <input type="password" id="password" placeholder="Mật khẩu">
        </div>

        <div class="options">
            <label><input type="checkbox"> Ghi nhớ thông tin</label>
            <a href="#" class="forgot">Quên mật khẩu?</a>
        </div>

        <button type="submit" class="login-btn" asp-controller="Home" asp-action="Index">Đăng nhập</button>

        <button type="button" class="activate-btn">Kích hoạt tài khoản</button>

        <p class="register-text">Bạn chưa là thành viên? <a asp-controller="SignUp" asp-action="Index">Đăng ký ngay!</a></p>
    </form>
</div>